In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snsimport

In [2]:
data=pd.read_csv('train.csv')

In [3]:
data.head()

   year         price
0  1776  6.208822e+06
1  1777  9.413639e+06
2  1778  1.000000e-04
3  1779  3.803056e+07
4  1780  1.591850e+07